<footer class="text-center">
    <ul class="row list-unstyled">
        <li class="col-12 col-md-4 my-sm-1 my-md-auto"><a class="text-secondary text-decoration-none" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="bi-github"></i> GitHub</a></li>
        <li class="col-12 col-md-4 my-sm-1 my-md-auto"><a class="text-secondary text-decoration-none" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="bi-linkedin"></i> LinkedIn</a></li>
    </ul>
    <br/>
    <p class="text-secondary">Made with &heartsuit; in Azusa, CA.</p>
    <a class="text-secondary text-decoration-none pb-5" href="/feed.xml"><i class="bi-rss"></i> RSS Feed</a>
</footer>