html,
body {
  font-family: 'Courier Prime', monospace !important;
}

.name {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

.avatar {
  width: 4.625em;
}

.card {
  box-shadow: 5px 5px 7px rgba(116, 116, 128, 0.5);
}

.post {
  & h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
  }

  & p {
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 0.5em;
  }

  & blockquote {
    border-left: 0.5em solid rgba(116, 116, 128, 0.5);
    padding-left: 1em;
    margin-left: 1em;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 5px 5px 7px rgba(15, 15, 15, 0.5);
    border-color: rgba(15, 15, 15, 0.1) !important;
  }
}
